<div class="block" id="block-signup">
  <div class="card col-md-8 offset-md-2" id="form-container" >
  <h1 class="card-header card-header-primary" align="center">Invite a New Member</h1>
  <div class="card-body content login">
    <div class="flash">
      <% flash.each do |type, message| %>
        <div class="message <%= type %>">
          <p>
            <%= message %>
          </p>
        </div>
      <% end %>
    </div>
    <% flash.clear  # clear contents so we won't see it again %>
    
      <%= form_for(@member, :html => { :class => "form login" }) do |f| %>
        <% unless @member.errors.empty? && @user.errors.empty? %>
          <div class="form-group" id="errorExplanation">
            <ul>
              <%= @member.errors.full_messages.uniq.inject(''){|str, msg| str << "<li> #{msg}"}.html_safe %>
              <%= @user.errors.full_messages.uniq.inject(''){|str, msg| str << "<li> #{msg}"}.html_safe %>
            </ul>
          </div>
        <% end %>
        <%= fields_for( :user ) do |w| %>
          <div class="form-group">
            <%= w.label :email, :class => "control-label" %>
            <%= w.text_field :email, :class => "form-control" %>
            <small class="description">Ex. test@example.com; must be unique</small>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :first_name, :class => "control-label " %>
          <%= f.text_field :first_name, :class => "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :last_name, :class => "control-label " %>
          <%= f.text_field :last_name, :class => "form-control" %>
        </div>
        <div class="form-group navform wat-cf">
          <button class="btn btn-success" type="submit">
            Create user and Invite
          </button>
        </div>
      <% end %>
      
    </div>
    
  </div>
</div>
